/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// global variables
:root {
    // colors
    --bg-color: rgba(255, 255, 255, 1); 

    // spacing
    --header-row: 36px; 
    --first-row: 60px; 
    --rows: 48px; 
}

// global row styling
.timeline-header-row {
    height: var(--header-row);
    border-bottom: 1px solid #ccc;  
    display: flex;
    align-items: center; 
    padding: 0 12px; 
}

.timeline-row {
    height: var(--rows); 
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box; 
}

.timeline-row.first-row {
    height: var(--first-row); 
}