<div class="timeline-body">
  <!-- vertical lines layer -->
  <div class="vertical-grid">
    <div
      class="v-line"
      *ngFor="let cell of cells; trackBy: trackByDate"
      [style.width.px]="160"
    ></div>
  </div>

  <!-- rows -->
  <div class="aligned-rows first-row no-pad">
    <div
      class="timeline-cell"
      *ngFor="let cell of cells; trackBy: trackByDate"
      [style.width.px]="160"
    ></div>
    <div
      *ngFor="let bar of barsByWorkCenter[workCenters[0].docId]"
      class="timeline-bar"
      [style.left.px]="bar.left"
      [style.width.px]="bar.width"
    >
      {{ bar.name }}
    </div>
  </div>

  <div class="aligned-rows no-pad" *ngFor="let wc of remainingWorkCenters; trackBy: trackById">
    <div
      class="timeline-cell"
      *ngFor="let cell of cells; trackBy: trackByDate"
      [style.width.px]="160"
    ></div>

    <div
      *ngFor="let bar of barsByWorkCenter[wc.docId]"
      class="timeline-bar"
      [ngClass]="'status-' + bar.status"
      [style.left.px]="bar.left"
      [style.width.px]="bar.width"
    >
      {{ bar.name }}
    </div>
  </div>
</div>
